/.env
env
/.vscode
/*.srt
/*.debug
/*.subtrans
/*.substitutions
__pycache__
/Projects
/subtrans-env
/envsubtrans
/*.subtrans-backup
/*.code-workspace
.DS_Store
/dist
/build
get-pip.py
/test_results
/test_subtitles/hidden
/test_subtitles
*.mkv
*.log
/*.sh
/*.bat
/*.cmd