/.env
env
/.vscode
/*.srt
/*.debug
/*.subtrans
/*.substitutions
__pycache__
/Projects
/subtrans-env
/envsubtrans
/*.subtrans-backup
/*.code-workspace
.DS_Store
/dist
/build
get-pip.py
/test_results
/test_subtitles/hidden
/test_subtitles
*.mkv
*.log
/*.cmd
gui-subtrans.spec
claude-subtrans.sh
gemini-subtrans.sh
gpt-subtrans.sh
gui-subtrans.sh
llm-subtrans.sh
.idea/
*.ass
.cursorignore
deepseek-subtrans.sh
bedrock-subtrans.sh
mistral-subtrans.sh
*.zip
*.pdf
autotranslated_msgids_*.txt
untranslated_msgids_*.txt
/.claude
