QWidget {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
}

QLabel {
    padding-top: 2px;
    padding-bottom: 6px;
}

.MainWindow, QLabel, QDialog {
    background-color: #363636;
}

.MainToolbar, .ProjectToolbar {
    background: #808080;
    border: 1px solid #404040;
    padding: 3px;
}

.MainToolbar::separator {
    background: #B8BCC5;
    width: 2px;
    margin: 6px 8px;
}

.LogWindow {
    background-color: #121212;
    border: 1px solid #242424;
}

.ScenesView {
    background-color: #242424;
}

.TreeViewItemWidget {
    padding: 4px;
    margin: 2px;
    border: 2px solid darkslateblue;
    border-radius: 12px;
    background-color: #363636;
}

QTreeView:item {
    border: 1px solid black;
    border-radius: 12px;
}

QTreeView:item:selected {
    border: 2px solid #800000;
    border-radius: 12px;
    font-weight: bold;
}

QListView:item {
    padding: 0px;
}

.WidgetHeader { 
    font-size: 12pt;
    font-weight: bold;
    background-color: blanchedalmond;
    padding: 10px 4px 4px 4px;
    margin: 0px;
    color: black;
}

.WidgetHeader[all_translated=true] {
    background-color: blanchedalmond;
}

.WidgetHeader[all_translated=false] {
    background-color: burlywood;
}

.WidgetHeader[errors=true], .WidgetBody[errors=true] {
    color: red;
}

.WidgetSubheading {
    margin: 0px;
    padding: 3px;
    padding-left: 10px;
    background-color: darkslategrey;
    color: blanchedalmond;
}

.WidgetFooter {
    margin: 0px;
    padding: 2px;
    padding-right: 10px;
    background-color: #242424;
}

.WidgetFooter QLabel {
    margin: 0px;
    padding: 0px;
    background-color: #242424;
}

.WidgetFooter[all_translated=true] QLabel {
    color: blanchedalmond;
}

.WidgetFooter[all_translated=false] QLabel {
    color: burlywood;
}

.WidgetBody {
    font-size: 10pt;
    padding: 2px;
    padding-left: 10px;
    background-color: #242424;
}

.SubtitleView {
    padding: 1px;
    background-color: #242424;
}

.SubtitleView::item:selected {
    border: 1px solid peru;
}

.LineItemView {
    padding: 0px;
    margin: 1px;
    background-color: #242424;
}

.LineItemHeader {
    margin: 0px;
    padding: 2px;
    background-color: #363636;
}

.LineItemHeader QLabel {
    margin: 0px;
    padding-bottom: 6px;
}

#line-header-right {
    color: burlywood;
    font-size: 9pt;
}

.LineItemBody {
    margin: 2px;
    padding: 2px 1em;
    background-color: #242424;
    border-left: 2px dotted peru;    
}

.SelectionView {
    background-color: #363636;
    color: white;
}

QTabWidget::pane, QTabWidget::pane QWidget {
    padding: 3px;
}

QTabWidget::pane QFrame {
    background-color: #484848;
}

QTabBar::tab {
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-color: #363636;
	padding: 5px;
}

QTabBar::tab:selected {
    background-color: #555555;
    color: #ffffff;
}

